<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectivity.ExtensionSettings3>
    <extension
      interface="Autodesk.Connectivity.WebServices.IWebServiceExtension, Autodesk.Connectivity.WebServices, Version=22.0.0.0, Culture=neutral"
      type="ChangeMgmtExt.mChangeMgmtEvents, ChangeMgmtExt" >
    </extension>
    <extension
      interface="Autodesk.Connectivity.Explorer.Extensibility.IExplorerExtension, Autodesk.Connectivity.Explorer.Extensibility, Version=22.0.0.0, Culture=neutral"
      type="ChangeMgmtExt.mClsChangeMgmtExt, ChangeMgmtExt">
    </extension>
  </connectivity.ExtensionSettings3>
</configuration>
<!--type="ChangeMgmtExt.mClsChangeMgmtExt, ChangeMgmtExt"-->